In [31]:
data = {"X": range(1,100+1) , "y": [x**2 for x in range  (1,100+1)]}
df = pd.DataFrame(data)
print(df)

      X      y
0     1      1
1     2      4
2     3      9
3     4     16
4     5     25
..  ...    ...
95   96   9216
96   97   9409
97   98   9604
98   99   9801
99  100  10000

[100 rows x 2 columns]

In [28]:
import pandas as pd

In [41]:
data = {"year":[2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011] , "Month":["Jan","Feb","Mar","Apr","May","Jun","July","Aug","Sep","Oct","Nov","Dec"] , "Date"
       :[1,2,3,4,5,6,7,8,9,10,11,12]}

In [42]:
df = pd.DataFrame(data)
print(df)

    year Month  Date
0   2000   Jan     1
1   2001   Feb     2
2   2002   Mar     3
3   2003   Apr     4
4   2004   May     5
5   2005   Jun     6
6   2006  July     7
7   2007   Aug     8
8   2008   Sep     9
9   2009   Oct    10
10  2010   Nov    11
11  2011   Dec    12

In [43]:
df["year"]

0     2000
1     2001
2     2002
3     2003
4     2004
5     2005
6     2006
7     2007
8     2008
9     2009
10    2010
11    2011
Name: year, dtype: int64

In [45]:
data["Sqr_data"] = df['Date']**2

In [47]:
data["Sqr_data"]

0       1
1       4
2       9
3      16
4      25
5      36
6      49
7      64
8      81
9     100
10    121
11    144
Name: Date, dtype: int64

In [49]:
pd.DataFrame(data)

    year Month  Date  Sqr_data
0   2000   Jan     1         1
1   2001   Feb     2         4
2   2002   Mar     3         9
3   2003   Apr     4        16
4   2004   May     5        25
5   2005   Jun     6        36
6   2006  July     7        49
7   2007   Aug     8        64
8   2008   Sep     9        81
9   2009   Oct    10       100
10  2010   Nov    11       121
11  2011   Dec    12       144

In [50]:
squares = [x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [52]:
even_squares = [x**2 for x in range(1,6)  if x%2==0 ]
print(even_squares)

[4, 16]

In [53]:
words = ["hello","world","python"]
count = [len(word) for word in words]
print(count)

[5, 5, 6]

In [56]:
even_odd = ["even" if num%2==0 else "odd" for num in range(1,6)]
print(even_odd)

['odd', 'even', 'odd', 'even', 'odd']

In [57]:
for i in range(1,100):
    if i%2==0:
        print("even")
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd
even
odd